<span class="handle"><i class="fa fa-arrows"></i></span>

<span class="toggle-children">[-]</span>

<h2 class="uneditable">{{item.title}}</h2>
<h2 class="editable hide-edit">
  <input type="text" value="{{item.title}}">
</h2>

<p class="uneditable">{{item.content}}</p>
<p class="editable hide-edit">
  <input type="text" value="{{item.content}}">
</p>
