<span class="handle"><i class="fa fa-arrows"></i></span>

<span class="toggle-children">[-]</span>

<h2 class="uneditable item-title">{{item.title}}</h2>
<h2 class="editable item-title hide-edit">
  <input type="text" value="{{item.title}}">
</h2>

<p class="uneditable item-content">{{item.content}}</p>
<p class="editable item-content hide-edit">
  <input type="text" value="{{item.content}}">
</p>
