body {
  font: 14px 'Lato';
  padding: 50px;
}

.hide-children {
  display: none;
}
.list {
  min-height: 20px;

  .placeholder-bg {
    background: rgb(250, 255, 189);
    height: 50px;
    width: 100%;
  }
}
.item {
  .handle {
    font-size: 12px;
    color: #ccc;
    position: relative;
    top: -3px;
    cursor: move;
  }

  .toggle-children {
    font-size: 9px;
    color: #999;
    position: relative;
    bottom: 4px;
    margin: auto 5px;
  }

  h2 {
    display: inline;
  }

  h2, h2 input {
    font-family: 'Lato';
    font-size: 21px;
    font-weight: 500;
    border: 0;
  }
  p, p input {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    border: 0;
  }

  input {
    width: 90%;
    margin: -2px auto -2px -1px;
  }

  .hide-edit {
    display: none;
  }
}
